<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SauceDemoAutomationSuite" verbose="1">
    <test name="SauceDemoTests">
        <!-- TestNG Parameters for reading username and password -->
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>
        <parameter name="invalidUsername" value="standard_Invaliduser"/>
        <parameter name="invalidPassword" value="secret_Invalidpwd"/>

        <classes>
            <class name="com.asim.capstone.tests.SauceDemoTests">
                <methods>
                    <include name="verifyWebsiteTitle"/>
                    <include name="loginWithValidCredentials"/>
                    <include name="loginWithInvalidCredentials"/>
                    <include name="verifyPositiveCaseNavigationAndTitle"/>
                    <include name="verifyNegativeCaseNavigationAndTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>